html {
    display: grid;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    text-align: center;
}

#question {
    text-align: center;
    font-size: 2em;
    background-color: beige;
    width: 60%;
    padding: 1em;
    margin: 1em auto;
    border-radius: 20px;
}

button{
    display: block;
    text-align: center;
    font-size: 1.5em;
    padding: 0.4em;
    width: 30%;
    margin: 0.2em auto;
    background-color:dodgerblue;
    border-radius: 1em;
    border-style: none;
}

#results {
    margin: 0 auto;
    border-radius: 20px;
}